# ===== Ambientes Virtuais =====
imobiliaria-env/
venv/
.env/

# ===== Cache Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Banco de dados local =====
*.db
*.sqlite
*.sqlite3

# ===== Arquivos de IDE =====
.vscode/
.idea/

# ===== Sistema operacional =====
.DS_Store
Thumbs.db
